{
  "openapi": "3.1.0",
  "info": {
    "title": "Geomacro Agent Pay-Per-Call API",
    "version": "1.0.0-prelaunch",
    "description": "Prelaunch contract for machine-readable geopolitical and macro decision intelligence. Production pricing is authoritative only in the live HTTP 402 challenge or provider plan. Risk Gate context never authorizes transaction execution.",
    "contact": {
      "name": "Geomacro",
      "email": "contact@geomacro.live",
      "url": "https://geomacro.live"
    },
    "x-guidance": "Call the free availability endpoint first. Pay only when the requested subject and required modules are currently deliverable. Paid responses expose canonical decision_intelligence with direct answer, Geomacro-detected cause, bounded decision state, change attribution and watch-next fields. Raw upstream data is not delivered and execution_authorized remains false."
  },
  "servers": [
    {
      "url": "https://geomacro.live"
    }
  ],
  "paths": {
    "/api/x402/risk/availability": {
      "post": {
        "summary": "Check intelligence deliverability before payment",
        "operationId": "checkGeomacroX402Availability",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deliverability result. This call never charges."
          },
          "400": {
            "description": "Invalid or unsupported query"
          },
          "422": {
            "description": "Requested intelligence is not currently deliverable and payment must not be requested"
          },
          "503": {
            "description": "Availability cannot be proven; payment remains disabled"
          }
        }
      }
    },
    "/api/x402/intelligence": {
      "get": {
        "summary": "Inspect the canonical Coinbase-compatible x402 resource",
        "operationId": "getGeomacroX402Resource",
        "security": [],
        "responses": {
          "200": {
            "description": "Current runtime resource metadata"
          },
          "503": {
            "description": "Production rail is not configured or remains locked"
          }
        }
      },
      "post": {
        "summary": "Buy adaptive geopolitical and macro decision intelligence via Coinbase-compatible x402",
        "operationId": "buyGeomacroAdaptiveRiskIntelligence",
        "description": "The first valid unpaid request returns HTTP 402 with authoritative x402 payment requirements. A paid retry returns derived Decision Intelligence only after payment verification/settlement and protected delivery-claim checks.",
        "security": [],
        "x-payment-info": {
          "provider": "coinbase_x402",
          "price": "runtime-402-challenge",
          "currency": "USDC",
          "protocols": [
            {
              "x402": {}
            }
          ],
          "production_enabled": false,
          "availability_endpoint": "/api/x402/risk/availability"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid structured Decision Intelligence response. Raw upstream data is not delivered and execution_authorized remains false.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptiveResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required or payment proof invalid. PAYMENT-REQUIRED is authoritative."
          },
          "409": {
            "description": "Replay conflict, duplicate in progress, or payment proof bound to different business terms"
          },
          "422": {
            "description": "Not currently deliverable; payment is not accepted"
          },
          "503": {
            "description": "Provider, delivery ledger, intelligence dependency, or reconciliation state unavailable; fails closed"
          }
        }
      }
    },
    "/api/x402/circle/intelligence": {
      "get": {
        "summary": "Inspect the Circle Gateway x402 resource",
        "operationId": "getGeomacroCircleGatewayX402Resource",
        "security": [],
        "responses": {
          "200": {
            "description": "Current runtime Circle Gateway resource metadata"
          },
          "503": {
            "description": "Circle production rail is not configured, not currently supported, or remains locked"
          }
        }
      },
      "post": {
        "summary": "Buy adaptive geopolitical and macro decision intelligence via Circle Gateway x402",
        "operationId": "buyGeomacroAdaptiveRiskIntelligenceCircleGateway",
        "description": "This route uses the same canonical Geomacro Decision Intelligence and delivery contract. Circle Gateway production remains disabled before coordinated launch.",
        "security": [],
        "x-payment-info": {
          "provider": "circle_gateway_x402",
          "price": "runtime-402-challenge",
          "currency": "USDC",
          "approved_initial_network": "eip155:8453",
          "arc_mainnet_enabled": false,
          "protocols": [
            {
              "x402": {}
            }
          ],
          "production_enabled": false,
          "availability_endpoint": "/api/x402/risk/availability"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid structured Decision Intelligence response with execution_authorized=false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptiveResponse"
                }
              }
            }
          },
          "402": {
            "description": "Circle Gateway payment required or payment proof invalid"
          },
          "409": {
            "description": "Replay, duplicate-processing, or business-term conflict"
          },
          "422": {
            "description": "Not currently deliverable; payment is not accepted"
          },
          "503": {
            "description": "Circle provider, delivery ledger, intelligence dependency, or settlement reconciliation state unavailable; fails closed"
          }
        }
      }
    },
    "/api/x402/nevermined/intelligence": {
      "post": {
        "summary": "Nevermined provider adapter for the same adaptive Decision Intelligence product",
        "operationId": "buyGeomacroAdaptiveRiskIntelligenceNevermined",
        "security": [],
        "x-payment-info": {
          "provider": "nevermined",
          "price": "provider-plan-runtime",
          "currency": "provider-plan",
          "protocols": [
            {
              "x402": {}
            }
          ],
          "production_enabled": false,
          "availability_endpoint": "/api/x402/risk/availability"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid structured Decision Intelligence response with execution_authorized=false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptiveResponse"
                }
              }
            }
          },
          "402": {
            "description": "Provider payment required or proof invalid"
          },
          "409": {
            "description": "Replay or idempotency conflict"
          },
          "422": {
            "description": "Not currently deliverable; payment is not accepted"
          },
          "503": {
            "description": "Provider or intelligence dependency unavailable; fails closed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdaptiveQuery": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "question",
          "subjects"
        ],
        "properties": {
          "question": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "subjects": {
            "type": "array",
            "minItems": 1,
            "maxItems": 12,
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "max_age_seconds": {
            "type": "integer",
            "minimum": 60
          },
          "detail": {
            "enum": [
              "compact",
              "standard",
              "detailed"
            ]
          },
          "client_request_id": {
            "type": "string",
            "maxLength": 128
          }
        }
      },
      "DecisionIntelligence": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "schema_version",
          "status",
          "risk",
          "freshness",
          "answer",
          "cause",
          "geomacro_detected",
          "why_it_matters",
          "decision",
          "change",
          "watch_next",
          "evidence_quality",
          "state_version",
          "as_of",
          "delivery_boundary",
          "raw_data_delivered",
          "execution_authorized"
        ],
        "properties": {
          "schema_version": {
            "const": "geomacro.decision-intelligence.v1"
          },
          "status": {
            "enum": [
              "SUPPORTED",
              "INSUFFICIENT_EVIDENCE"
            ]
          },
          "risk": {
            "type": "object",
            "required": [
              "level",
              "score",
              "confidence"
            ],
            "additionalProperties": true
          },
          "freshness": {
            "type": "object",
            "required": [
              "status",
              "age_seconds"
            ],
            "additionalProperties": true
          },
          "answer": {
            "type": "string"
          },
          "cause": {
            "type": "string",
            "pattern": "^Geomacro detects this because "
          },
          "geomacro_detected": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "why_it_matters": {
            "type": "string"
          },
          "decision": {
            "type": "object",
            "required": [
              "action",
              "guardrail",
              "execution_authorized"
            ],
            "properties": {
              "action": {
                "enum": [
                  "PROCEED",
                  "PROCEED_WITH_GUARDRAILS",
                  "REVIEW",
                  "PAUSE",
                  "INSUFFICIENT_EVIDENCE"
                ]
              },
              "guardrail": {
                "type": "string"
              },
              "execution_authorized": {
                "const": false
              }
            },
            "additionalProperties": true
          },
          "change": {
            "type": "object",
            "additionalProperties": true
          },
          "watch_next": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "evidence_quality": {
            "type": "object",
            "additionalProperties": true
          },
          "state_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "as_of": {
            "type": "string"
          },
          "delivery_boundary": {
            "const": "DERIVED_DECISION_INTELLIGENCE_ONLY"
          },
          "raw_data_delivered": {
            "const": false
          },
          "execution_authorized": {
            "const": false
          }
        }
      },
      "AdaptiveResponse": {
        "type": "object",
        "required": [
          "schema_version",
          "product",
          "decision_intelligence",
          "execution_authorized"
        ],
        "properties": {
          "schema_version": {
            "const": "geomacro.adaptive-intelligence-response.v1"
          },
          "product": {
            "const": "geomacro_adaptive_risk_intelligence_v1"
          },
          "decision_intelligence": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/DecisionIntelligence"
            }
          },
          "execution_authorized": {
            "const": false
          },
          "payment": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    }
  }
}
